<%= form_with(model: idea, local: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :idea_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :idea_destination, placeholder: "Location...", class: "form-control" %>
  </div>

  <div id="suggestions" class="form-group">
   
  </div>

  <div class="form-group">
    <%= form.label :start %>
    <%= form.date_select :start, id: :idea_start %>
  </div>

  <div class="form-group">
    <%= form.label :end %>
    <%= form.date_select :end, id: :idea_end %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tag, id: :idea_tag, placeholder: "For searching...", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>