<!DOCTYPE html>
<html>
  <head>
    <title>NIADA Travel</title>
    <%= csrf_meta_tags %>

    <!-- Boostrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- rails default -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Hotwire jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- Container to apply Bootstrap CSS centering & offset -->
    <div class="container">
      <header>
        <small class="text-muted">
          <% if user_signed_in? %> 
            Welcome, <%= current_user.first_name %> . <%= link_to "Sign Out", destroy_user_session_url, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
          <% end %>
        </small>
      </header>

      <!-- Nav Menu -->
      <nav class="navbar navbar-light bg-light justify-content-between sticky-top">
        <a class="navbar-brand" href="/">NIADA Travel // <!--<img src="/logo.png">--></a>
        <a class="navbar-item">
          <%= link_to "Manage Ideas", ideas_url %>
        </a>
        <a class="navbar-item">
          <%= link_to "Account", edit_user_registration_url %>
        </a>
        <!-- Search Bar -->
        <div class="form-inline">
          <%= form_tag(ideas_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Ideas" %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
      </nav>
      <br><br>

      <!-- Content loaded here -->
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <% if notice.present? %>  
            <p class="alert alert-info">
              <%= notice %>
            </p>
          <% end %>
        	<%= yield %>
          <br><br>
          <hr>
          
          <footer class="sticky-footer">
            <p>
              © NIADA Travel 2018
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>